<li>
  <div>
    <div class="user-info">
      <%= gravatar_for has_this_comment(comment), size: 50 %>
      <%= link_to has_this_comment(comment).name, has_this_comment(comment) %>
    </div>
    <% if logged_in? %>
      <% if current_user.admin? || @user == has_this_comment(comment) %>
        <span class="comment-destroy"> 
          | <%= link_to "削除", post_comment_path(@post, comment), method: :delete,
                      data: {confirm: "本当に削除しますか？"} %>
        </span>
      <% end %>
    <% end %>
  </div>
  <span class="comment-content"><%= comment.content %></span>
  <span class="comment-timestamp">
    <%= time_ago_in_words(comment.created_at) %>前にコメント
  </span>
</li>