<% provide(:title, "\"#{@post.title}\"の編集" ) %>
<%= render :partial => "static_pages/navbar" %>

<div class="container-fluid content">
  <%= form_with(model: @post, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <div class="row title">
      <div class="col-xs-12">
      <%= f.text_field :title, placeholder: "タイトル" %>
      </div>
    </div>
    <div class="row category">
      <div class="col-xs-12">
        カテゴリーを選択 <%= f.select :category, [["国語", "japanese"], ["数学", "math"], ["理科", "science"], 
                                               ["社会", "social"], ["外国語", "foreign lang"], ["その他", "others"]] %>
      </div>
    </div>
    <div class="row body">
      <div class="col-xs-12">
        <%= f.text_area :body %>
      </div>
    </div>
    <div class="row submit">
    <%= f.submit "編集する" %>
    </div>
  <% end %>
</div>