<% provide(:title, @post.title ) %>
<%= render :partial => "static_pages/navbar" %>

<div class="container">
  <div class="post-content">
    <div class="row title">
      <h1><%= @post.title %></h1>
    </div>
    <div class="row category">
      カテゴリー | <%= link_to category_to_name(@post.category),
                          search_path(keyword: "", category: @post.category) %>
    </div>
    <div class="row body">
      <%=safe_join(@post.body.split("\n"),tag(:br))%>
    </div>
    <div class="user-info">
      <%= gravatar_for has_this_post(@post), size: 50 %>
      <%= link_to has_this_post(@post).name, has_this_post(@post) %>
    </div>
    <div class="post-info">
      投稿日：<%= @post.created_at %>
    </div>
  </div>
  <div class="comment-list">
    <div class="inner-comment-list">
      <h4>(<%= @comments.count %>)件のコメント</h4>
      <% if @comments.any? %>
        <ul class="comment">
          <%= render @comments %>
        </ul>
        <%= will_paginate @comments %>
      <% end %>  
    </div>    
  </div>
  <% if logged_in? %>
    <div class="create-comment" id="main">
      <div class="inner-create-comment">
        <h4>コメントをする</h4>
        <%= form_with(model: [@post, @comment_create], local: true) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="row content">
            <div class="col-xs-12">
              <%= f.text_area :content %>
              <%= f.hidden_field :post_id, value: @post.id %>
            </div>
          </div>
          <div class="row submit">
            <%= f.submit "投稿" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

