<% provide(:title, @post.title ) %>
<%= render :partial => "static_pages/navbar" %>

<div class="container">
  <div class="content">
    <div class="row title">
      <h1><%= @post.title %></h1>
    </div>
    <div class="row body">
      <%=safe_join(@post.body.split("\n"),tag(:br))%>
    </div>
    <div class="user-info">
      <%= gravatar_for has_this_post(@post), size: 50 %>
      <%= link_to has_this_post(@post).name, has_this_post(@post) %>
    </div>
    <div class="post-info">
      投稿日：<%= @post.created_at %>
    </div>
  </div>
</div>